DELETE FROM deck;
DELETE FROM card_entry;
DELETE FROM card;

{{#each decks as |deck|}}
INSERT INTO deck (title)
VALUES
('{{deck.title}}');

INSERT INTO card_entry (deck_title, card_front_content, score)
VALUES
{{#each deck.words as |word|}}
('{{deck.title}}', '{{@key}}', 3){{#if @last}};{{else}},{{/if}}
{{/each}}

INSERT INTO card (front_content, back_content)
VALUES
{{#each deck.words as |word|}}
('{{@key}}', '{{word}}'){{#if @last}};{{else}},{{/if}}
{{/each}}
{{/each}}