{{={{{ }}}=}}
apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: {{{hyphen project.name}}}-ingress
  annotations:
    kubernetes.io/ingress.class: nginx
    {{- if .Values.certificate.enabled }}
    certmanager.k8s.io/issuer: letsencrypt
    {{- end }}
spec:
  {{- if .Values.certificate.enabled }}
  tls:
    - secretName: {{ .Values.domain }}-tls
  {{- end }}
  rules:
    {{- if .Values.local }}
    - http:
    {{- else }}
    - host: {{ .Values.domain }}
      http:
    {{- end }}
        paths:
        {{{#each clients as |client|}}}
        {{- with $it := .Values.clients.{{{lower-camel client.identifier}}} }}
        {{- if and $it.enabled $it.basePath }}
        - path: {{ $it.basePath }}
          backend:
            serviceName: {{{hyphen client.identifier}}}-pwa
            servicePort: {{ $it.port }}
        {{- end }}
        {{- end }}
        {{{/each}}}

        {{{#each services as |service|}}}
        {{- with $it := .Values.services.{{{lower-camel service.identifier}}} }}
        {{- if and $it.enabled $it.basePath }}
        - path: {{ $it.basePath }}
          backend:
            serviceName: {{{hyphen service.identifier}}}-api
            servicePort: {{ $it.port }}
        {{- end }}
        {{- end }}
        {{{/each}}}
