#!/usr/bin/env bash

set -e

IMAGE_NAME={{hyphen service.identifier}}-api
PROJECT_NAME={{hyphen project.name}}
VERSION={{service.version}}
IMAGE_REGISTRY=gcr.io/$PROJECT_NAME/

set -x

gradle bootJar

mkdir -p ./container_image/build

cp ./build/libs/{{hyphen project.name}}-{{hyphen service.identifier}}-{{service.version}}.jar \
   ./container_image/build/app.jar

docker build \
  -t $IMAGE_REGISTRY$IMAGE_NAME:$VERSION \
  ./container_image

{{#unless (eq project.environment "local-dev")}}
docker push \
  $IMAGE_REGISTRY$IMAGE_NAME:$VERSION
{{/unless}}
