{{#define "env"}}{{project.environment}}{{/define}}
{{#define "container_registry"}}gcr.io/{{hyphen project.name}}/{{/define}}

domain: {{project.domain_name}}
{{#if (eq env "local-dev")}}
local: true
imagePullPolicy: Never
{{else}}
local: false
imagePullPolicy: IfNotPresent
{{/if}}
certificate:
  {{#if (or (eq env "prod") (eq env "stg"))}}
  enabled: true
  acme:
    server: {{#if (eq env "prod")}}prod{{else}}stg{{/if}}
    email: {{project.certificate.email}}
    apiKey: {{project.certificate.api_key}}
  {{else}}
  enabled: false
  {{/if}}

clients:
  {{#each clients as |client|}}
  {{lower-camel client.identifier}}:
    enabled: true
    basePath: /
    replicas: 1
    port: 80
    version: {{client.version}}
    image: {{container_registry}}{{hyphen client.identifier}}-pwa
  {{/each}}

services:
  {{#each services as |service|}}
  {{lower-camel service.identifier}}:
    enabled: true
    basePath: {{service.path}}/
    replicas: 1
    port: {{service.port}}
    version: {{service.version}}
    image: {{container_registry}}{{hyphen service.identifier}}-api
    datasource:
      url: "{{service.datasource.jdbc_url}}"
      user: {{service.datasource.user}}
      pass: {{service.datasource.password}}
  {{/each}}

datasources:
  {{#each datasources as |datasource|}}
  {{lower-camel datasource.identifier}}:
    enabled: true
    port: {{datasource.port}}
    replicas: 1
    {{#if (eq datasource.type "postgres")}}
    image: postgres
    version: 11.1-alpine
    {{/if}}
    dbUser:  "{{datasource.user}}"
    dbPass:  "{{datasource.password}}"
    migrateJob:
      url: "{{datasource.jdbc_url}}"
      version: "{{datasource.version}}"
      image: {{container_registry}}{{hyphen datasource.identifier}}-migrate
  {{/each}}
