{{#*inline "TYPE_OF_PEROPETY"}}{{#trim}}
{{#if (eq property.type "number")}}Int
{{else}}{{upper-camel property.type}}
{{/if}}
{{/trim}}{{#unless property.nullable}}!{{/unless}}{{/inline}}

{{#*inline "TYPE_OF_RERATIONSHIP"}}{{#trim}}
{{#if relationship.multiple}}[{{/if}}{{r.reference_entity.class_name}}{{#unless relationship.nullable}}!{{/unless}}{{#if relationship.multiple}}]!{{/if}}
{{/trim}}{{/inline}}

#
# {{trim entity.description}}
#
type {{entity.class_name}} {
  {{#each entity.stored_properties as |p|}}
  #
  # {{trim p.description}}
  #
  {{lower-camel p.identifier}}: {{>TYPE_OF_PEROPETY property = p}}
  {{/each}}

  {{#each entity.stored_relationships as |r|}}
  #
  # {{trim r.description}}
  #
  {{lower-camel r.identifier}}: {{>TYPE_OF_RERATIONSHIP relationship = r}}
  {{/each}}
}
