#! /usr/bin/env bash

NAME={{datasource.container_name}}
IMAGE={{datasource.container_image}}

docker inspect $NAME &> /dev/null && \
docker rm -f $NAME

docker run -d \
  --name $NAME \
  -p {{datasource.port}}:{{datasource.port}} \
  -e POSTGRES_USER={{datasource.user}} \
  -e POSTGRES_PASSWORD={{datasource.password}} \
  $IMAGE
