package {{project.namespace}}.{{lower-underscore datasource.identifier}}.flyway

import org.flywaydb.core.Flyway

val URL: String = System.getProperty("datasource.url")
val USER: String = System.getProperty("datasource.username")
val PASS: String = System.getProperty("datasource.password")

fun main(args: Array<String>) {
    Flyway
    .configure()
    .dataSource(URL, USER, PASS)
    .load()
    .migrate()
}
