<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
  <meta charset="utf-8">
  <title>{{project.title}}</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0">
  <meta name="description" content="A flashcard application">
  <meta name="theme-color" content="#16161d">

  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-title" content="{{project.title}}">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">

  <meta http-equiv="x-ua-compatible" content="IE=Edge">

  <link href="/build/app.css" rel="stylesheet">
  <script src="/build/app.js"></script>

  <link rel="apple-touch-icon" href="/assets/icon/icon.png">
  <link rel="icon" type="image/x-icon" href="/assets/icon/favicon.ico">
  <link rel="manifest" href="/manifest.json">
  <script>
    __ENV = {
      IMAGE_VERSION:"latest",
      {{#each client.services as |s|}}
      {{upper-underscore s.identifier}}_API_HOST:"http://localhost:{{s.port}}{{s.path}}/{{s.api_version}}",
      {{/each}}
    }
  </script>

</head>

<body>

  <app-main></app-main>

</body>

</html>
