#!/usr/bin/env bash

set -e

IMAGE_NAME={{hyphen datasource.identifier}}-migrate
PROJECT_NAME={{hyphen project.name}}
VERSION={{datasource.version}}
IMAGE_REGISTRY=gcr.io/$PROJECT_NAME/

set -x

gradle build

docker build \
  -t $IMAGE_REGISTRY$IMAGE_NAME:$VERSION \
  ./container_image

{{#unless (eq project.environment "local-dev")}}
docker push \
  $IMAGE_REGISTRY$IMAGE_NAME:$VERSION
{{/unless}}
