import org.jetbrains.kotlin.gradle.tasks.KotlinCompile
group = "{{project.name}}"
version = "1.0.0"
plugins {
    val kotlinVersion = "1.3.11"
    kotlin("jvm") version kotlinVersion
    application
}
application {
    mainClassName = "{{project.namespace}}.{{lower-underscore datasource.identifier}}.flyway.MainKt"
    applicationDefaultJvmArgs = listOf(
        "-Ddatasource.url=" + System.getenv("DATASOURCE_URL"),
        "-Ddatasource.username=" + System.getenv("DATASOURCE_USER"),
        "-Ddatasource.password=" + System.getenv("DATASOURCE_PASS")
    )
}
repositories {
    jcenter()
}
dependencies {
    compile(kotlin("stdlib-jdk8"))
    compile("org.postgresql:postgresql:42.2.5")
    compile("org.flywaydb:flyway-core:5.2.4")
}
val compileKotlin: KotlinCompile by tasks
compileKotlin.kotlinOptions {
    jvmTarget = "1.8"
}
val compileTestKotlin: KotlinCompile by tasks
compileTestKotlin.kotlinOptions {
    jvmTarget = "1.8"
}
val fatJar by tasks.creating(Jar::class.java) {
    manifest {
        attributes("Main-Class" to "laplacian.tango.flashcard_db.flyway.MainKt")
    }
    baseName = "db-schema-migrate"
    from(configurations.getByName("compile").map {
        if (it.isDirectory) it else zipTree(it)
    })
    with(tasks["jar"] as CopySpec)
}

val containerImage by tasks.creating(Copy::class.java) {
    from("build/libs/db-schema-migrate-1.0.0.jar") {
        rename("db-schema-migrate-1.0.0.jar", "db-schema-migrate.jar")
    }
    into("container_image/build")
    this.dependsOn(fatJar)
}

tasks["build"].dependsOn(containerImage)
