package {{service.namespace}}.configuration

import org.jooq.ConnectionProvider
import org.jooq.DSLContext
import org.jooq.impl.DataSourceConnectionProvider
import org.jooq.impl.DefaultConfiguration
import org.jooq.impl.DefaultDSLContext
import org.springframework.context.annotation.Bean
import org.springframework.context.annotation.Configuration
import org.springframework.jdbc.datasource.TransactionAwareDataSourceProxy
import javax.sql.DataSource

@Configuration
class JooqConfiguration(
    val dataSource: DataSource
) {
    @Bean
    fun connectionProvider(): ConnectionProvider {
        return DataSourceConnectionProvider(
            TransactionAwareDataSourceProxy(dataSource)
        )
    }

    @Bean
    fun defaultDsl(connectionProvider: ConnectionProvider): DSLContext {
        return DefaultDSLContext(DefaultConfiguration().apply {
            set(connectionProvider)
        })
    }
}
