(() => {

const decks = {
  {{#each decks as |deck|}}
  "{{deck.title}}": [
    {{#each deck.words as |word|}}
    {frontContent: "{{@key}}", backContent: "{{word}}"},
    {{/each}}
  ],
  {{/each}}
}


const routes = [{
  path: "/deck/all",
  handler: () => {
    return new Response(JSON.stringify([
      { title: "すべて",
        cards: Object.values(decks).reduce((acc, deck) => acc.concat(deck)),
      },
      {{#each decks as |deck|}}
      { title: "{{deck.title}}", cards: decks["{{deck.title}}"]},
      {{/each}}
    ], {status: 200}))
  }
}]
routes.forEach(route => {
  self.workbox.routing.registerRoute(route.path, route.handler)
})

})()
