{{#*inline "REQUEST_PAYLOAD_NAME"}}{{upper-camel operation.identifier}}RequestPayload{{/inline}}
{{#*inline "RESPONSE_PAYLOAD_NAME"}}{{upper-camel operation.identifier}}ResponsePayload{{/inline}}

package {{resource.namespace}}

import reactor.core.publisher.Mono
{{#each resource.operations as |operation|}}
import {{operation.namespace}}.{{> REQUEST_PAYLOAD_NAME}}
import {{operation.namespace}}.{{> RESPONSE_PAYLOAD_NAME}}
{{/each}}

/**
 * {{resource.description}}
 */
interface {{upper-camel resource.identifier}}Resource {
    {{#each resource.operations as |operation|}}
    /**
     * {{operation.description}}
     */
    fun getDecks(request: Mono<{{> REQUEST_PAYLOAD_NAME}}>): Mono<{{> RESPONSE_PAYLOAD_NAME}}>
    {{/each}}
}
