{{#*inline "PROJECT_TITLE"}}{{#if project.title}}{{project.title}}{{else}}{{project.name}}{{/if}}{{/inline}}

{
  "$schema": "http://json-schema.org/draft-07/schema#",
  "title": "{{> PROJECT_TITLE}}",
  "description": "{{> PROJECT_TITLE}}",
  "type": "object",
  "required": [],
  "properties": {
    "project_name": {
      "description": "The identifier of this application",
      "type": "string"
    },
    "namespace": {
      "description": "Dot separated identifier which is typically used for identifier of modules",
      "type": "string"
    },
    "project_title": {
      "description": "The title of this project",
      "type": "string"
    },
    {{#each entities.top_level as |entity|}}
    "{{plural entity.name}}": {
      "description": "{{entity.description}}",
      "type": "array",
      "items": {
        "$ref": "#/definitions/entities/{{lower-underscore entity.name}}"
      }
    }{{#unless @last}},{{/unless}}
    {{/each}}
  },
  "definitions": {
    "value_domain_types": {
      {{#each value_domain_types as |type|}}
      "{{lower-underscore type.name}}": {
        "description": "{{trim type.description}}",
        {{#if type.domain.pattern}}
        "pattern": {{#dquote}}^{{trim type.domain.pattern}}${{/dquote}},
        {{/if}}
        {{#if type.domain.choices}}
        "enum":[
           {{#each type.domain.choices as |item|}}
           "{{trim item.value}}"{{#unless @last}},{{/unless}}
           {{/each}}
        ],
        {{/if}}
        "type": "{{type.type}}"
      }{{#unless @last}},{{/unless}}
      {{/each}}
    },
    "entities": {
      {{#each entities as |entity|}}
      "{{lower-underscore entity.name}}": {
        "description": "{{trim entity.description}}",
        "type": "object",
        "required": [
          {{#each entity.aggregates as |aggregate|}}
          {{#unless (or aggregate.nullable aggregate.allows_empty)}}"{{lower-underscore aggregate.name}}",{{/unless}}
          {{/each}}
          {{#block-join entity.stored_properties as |property|}}
          {{#unless property.optional}}"{{lower-underscore property.name}}"{{/unless}}
          {{/block-join}}
        ],
        "properties": {
          {{#each entity.stored_properties as |property|}}
          "{{lower-underscore property.name}}": {
            {{#if property.domain_type}}
            "allOf": [{
            {{/if}}
            "description": "{{trim property.description}}",
            {{#if property.domain}}
            {{#if property.domain.pattern}}
            "pattern": "^{{trim property.domain.pattern}}$",
            {{/if}}
            {{#if property.domain.choices}}
            "enum":[
              {{#each property.domain.choices as |item|}}
              "{{trim item.value}}"{{#unless @last}},{{/unless}}
              {{/each}}
            ],
            {{/if}}
            {{/if}}
            "type": "{{property.type}}"
            {{#if property.domain_type}}
            }, {
            "$ref": "#/definitions/value_domain_types/{{lower-underscore property.domain_type.name}}"
            }]
            {{/if}}
          }{{#if (or (not @last) entity.aggregates)}},{{/if}}
          {{/each}}
          {{#each entity.aggregates as |aggregate|}}
          "{{lower-underscore aggregate.name}}": {
            "description": "{{trim aggregate.description}}",
            {{#if aggregate.multiple}}
            "type": "array",
            "items": {
              "$ref": "#/definitions/entities/{{lower-underscore aggregate.reference_entity.name}}"
            }
            {{else}}
            "$ref": "#/definitions/entities/{{lower-underscore aggregate.reference_entity.name}}"
            {{/if}}
          }{{#unless @last}},{{/unless}}
          {{/each}}
        }
      }{{#unless @last}},{{/unless}}
      {{/each}}
    }
  }
}
