{{#*inline "CREATE_TABLE"}}
/**
 * The table of {{plural ENTITY.name}}.
 */
CREATE TABLE {{lower-underscore ENTITY.identifier}} (
    {{#each ENTITY.inherited_from as |inheritance|}}
    {{#each inheritance.reference_entity.primary_keys as |pk|}}
    {{lower-underscore inheritance.property_name}}_{{pk.table_column_name}} {{> COLUMN_TYPE PROP=pk}},
    {{/each}}
    {{/each}}
    {{#each ENTITY.stored_properties as |p|}}
    {{p.table_column_name}} {{> COLUMN_TYPE PROP=p}},
    {{/each}}
    PRIMARY KEY ({{#each ENTITY.primary_key_names as |key|}}{{key}}{{#unless @last}}, {{/unless}}{{/each}})
);
{{/inline}}

{{#*inline "COLUMN_TYPE"}}{{#trim}}
{{#if (eq PROP.type "string")}}
VARCHAR({{PROP.size}})
{{else if (eq PROP.type "number")}}
INTEGER
{{else if (eq PROP.type "boolean")}}
INTEGER
{{else}}
VARCHAR({{PROP.size}})
{{/if}}
{{/trim}}{{#unless p.nullable}} NOT NULL{{/unless}}{{/inline}}

{{#each top_level.aggregated_entities as |aggregated|}}
{{> CREATE_TABLE ENTITY=aggregated}}
{{/each}}