{{#define "logic_interface_name"}}{{upper-camel operation.identifier}}Logic{{/define}}
{{#define "request_class_name"}}{{upper-camel operation.identifier}}RequestPayload{{/define}}
{{#define "response_class_name"}}{{upper-camel operation.identifier}}ResponsePayload{{/define}}

package {{operation.namespace}}

{{#each operation.relating_entities as |e|}}
{{#define "package"}}{{#trim}}
{{#if e.inherited_from}}
{{lower-camel e.inherited_from.[0].reference_entity.identifier}}
{{else}}
{{lower-camel e.identifier}}
{{/if}}
{{/trim}}{{/define}}
import laplacian.tango.entity.{{package}}.{{e.class_name}}Entity
{{/each}}
import org.springframework.stereotype.Component
import reactor.core.publisher.Mono

/**
 * An sample implementation of {{logic_interface_name}}.
 */
@Component
class {{logic_interface_name}}Base: {{logic_interface_name}} {
    override fun executeAsync(request: Mono<{{request_class_name}}>): Mono<{{response_class_name}}> =
        Mono.just({{response_class_name}}().also { response ->
            {{#*inline "ENTITY_ITEM"}}
            {{#define "entity_var_name"}}{{lower-camel entity.identifier}}{{/define}}
            {{target}}.{{item_var_name}} = {{#if multiple}}listOf({{/if}}
                {{entity.class_name}}Entity().also { {{entity_var_name}} ->
                    {{#each entity.stored_properties as |p|}}
                    {{entity_var_name}}.{{p.property_name}} = {{p.example_value}}
                    {{/each}}
                    {{#each entity.stored_relationships as |r|}}
                    {{#shift width=8}}{{> ENTITY_ITEM entity=r.reference_entity multiple=p.multiple target=entity_var_name item_var_name=r.property_name}}{{/shift}}
                    {{/each}}
                }
            {{#if multiple}}){{/if}}
            {{/inline}}

            {{#*inline "RESPONSE_BODY_ITEM"}}
            {{#define "item_var_name"}}{{lower-camel item.identifier}}{{/define}}
            {{#if item.entity}}
            {{> ENTITY_ITEM entity=item.entity multiple=item.multiple}}
            {{else}}
            {{target}}.{{item_var_name}} = {{item.example_value}}
            {{/if}}
            {{/inline}}

            {{#each operation.response_body as |top_level_item|}}
            {{> RESPONSE_BODY_ITEM item=top_level_item target="response"}}
            {{/each}}
        })
}