{{#define "logic_interface_name"}}{{upper-camel operation.identifier}}Logic{{/define}}
{{#define "request_class_name"}}{{upper-camel operation.identifier}}RequestPayload{{/define}}
{{#define "response_class_name"}}{{upper-camel operation.identifier}}ResponsePayload{{/define}}

package {{operation.namespace}}

import reactor.core.publisher.Mono

/**
 * {{trim operation.description}}
 */
interface {{logic_interface_name}} {
    /**
     * Executes the business logic asynchronously.
     */
    fun executeAsync(request: Mono<{{request_class_name}}>): Mono<{{response_class_name}}>

    /**
     * Executes the business logic.
     */
    fun execute(request: {{request_class_name}}): {{response_class_name}} =
        executeAsync(Mono.just(request)).block()!!
}